body {
    margin: 0;
    padding: 0;
    background-color: #F2EFCC;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    min-width: 320px;
    min-height: 480px;
    margin: 0 auto;
}
#main {
    position: absolute;
    height: 100vh;
    min-width: 320px;
    min-height: 480px;
    width: 100%;
    margin: 0;
}
#mainCanvas {
   width: auto;
   height: 100%;
   background-color: #F2EFCC;
}
#images {
    clear: left;
    display: none;
}
canvas {
    margin: auto;
    padding: 0;
    border: none;
    background-image: url("../img/background/bg.jpg");
}
#easterEgg {
    border: none;
    background-color: #F2EFCC;
    background-image: url("../img/background/bg.jpg");
    display: none;
    height: 100vh;
    min-width: 320px;
    min-height: 480px;
    position: absolute;
    top: 0;
}
#logoEaster {
    margin: 20% 20% 0 20%;
}
#easterEgg #video {
    width: 100%;
    height: auto;
    margin-top: 20%;
}
#preloadedImages img {
    display: none;
}
#addName {
    position: absolute;
    padding: 0.5%;
    font-size: 103%;
    display: none;
}
#submitButton {
    position: absolute;
    font-size: 103%;
    padding: 0.5%;
    display: none;
}
.hide { 
    position:absolute;
    width:0px; 
    height:0px; 
    display: none;
}
#leaderboardTable {
    position: absolute;
    display: none;
    overflow-x: auto;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}
td {
    text-align: center;
}
tr {
    text-align: center;
}
th {
    background-color: #7E9772;
}
tr:nth-child(even) {
    background-color: #FFFFFF;
}
tr:nth-child(odd) {
    background-color: #d3d3d3;
}
