.wrapper {
   padding: 0;
   width: 100%;
   height: auto;
   position: absolute;
   left: 0;
   right: auto;
   top: 0;
   min-width: 320px;
   min-height: 480px;
}
#main {
   position: relative;
   height: 100vh;
   min-width: 320px;
   min-height: 480px;
}
#mainCanvas {
   width: auto;
   height: 100%;
   background-color: #F2EFCC;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F2EFCC;
    overflow-y: hidden;
    overflow-x: hidden;
}
canvas {
    margin: auto;
    padding: 0;
    border: none;
    background-image: url("../img/background/bg.jpg");
}
#easterEgg {
    border: none;
    background-color: #F2EFCC;
    background-image: url("../img/background/bg.jpg");
    width: 320px;
    height: 480px;
    display: none;
}
#easterEgg #video {
    width: 320px;
    height: 260px;
    padding-top: 10px;
}
#easterEgg #logo {
    padding-left: 15%;
}
#preloadedImages img {
    display: none;
}
#addName {
    position: absolute;
    left:  135px;
    top: 235px;
    display: none;
}

#submitButton {
    position: absolute;
    left: 200px;
    top: 230px;
    display: none;
}
.hide { 
    position:absolute;
    width:0px; 
    height:0px; 
    display: none;
}

.leaderboards {
    background-color: #F2EFCC;
    background-image: url("../img/background/bg.jpg");
    position: relative;
    width: 320px;
    height: 480px;
    display: none;
}
.rightLearderboardArrow {
    position: absolute;
    right: 0;
}
.leftLearderboardArrow {
    position: absolute;
    left: 0;
    bottom: 0;
}

table th, table td {
    font-size: 1.5em;
    padding: 0 5%; 
    text-align: center;
}
