body {
    margin: 0 auto;
    padding: 0;
    background-color: #F2EFCC;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    min-width: 320px;
    min-height: 480px;
}
#main {
    position: absolute;
    height: 100vh;
    min-width: 320px;
    min-height: 480px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#mainCanvas {
   width: auto;
   height: 100%;
   background-color: #F2EFCC;
}

canvas {
    margin: auto;
    padding: 0;
    border: none;
}
#easterEgg {
    border: none;
    background-color: #F2EFCC;
    width: 320px;
    height: 480px;
    display: none;
}
#easterEgg #video {
    width: 320px;
    height: 260px;
    padding-top: 10px;
}
#easterEgg #logo {
    padding-left: 15%;
}
#main img {
    display: none;
}
#addName {
    position: absolute;
    left:  135px;
    top: 235px;
    display: none;
}

#submitButton {
    position: absolute;
    left: 200px;
    top: 230px;
    display: none;
}
.hide { 
    position:absolute;
    width:0px; 
    height:0px; 
    display: none;
}

#leaderboardTable {
    position: absolute;
    top: 25%;
    width: 100%;
    display: none;
    overflow-x: auto;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}
th td {
    padding: 3px;
}
td {
    text-align: center;
}
tr {
    text-align: center;
}
th {
    background-color: #7E9772;
}
tr:nth-child(even) {
    background-color: #FFFFFF;
}
tr:nth-child(odd) {
    background-color: #d3d3d3;
}