body {
    position: absolute;
    margin: 0 20% 0 30%;
    /*background-image: url("background/BG.jpg");*/
}
.divs {
    background-image: url("background/BG.jpg");
    min-width: 320px;
    min-height: 480px;
    position: absolute;
    max-height: 100%;
    display: none;
}
#backButton {
    width: 30%;
    height: 15%;
    padding-left: 0;
}
input {
    width: 40%;
    height: 40%;
    padding-left: 30%;
    padding-bottom: 5%;
}
.title {
    width: 80%;
    height: 80%;
    padding: 0 0 5% 10%;
}
#slogan {
    width: 80%;
    height:80%;
    padding-left: 10%;
}
#home {
    display: block;
}
#slogan {
    width: 80%;
    height:80%;
    padding-left: 10%;
}
#easterEgg #video {
    width: 80%;
    height: 80%;
    padding: 10%;
}
